<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fvehicles.mapper.ViewVehicleParkingInfoMapper">

    <resultMap type="ViewVehicleParkingInfo" id="ViewVehicleParkingInfoResult">
        <result property="associationId"    column="association_id"    />
        <result property="licensePlate"    column="license_plate"    />
        <result property="vehicleModel"    column="vehicle_model"    />
        <result property="vehicleId"    column="vehicle_id"    />
        <result property="ownerName"    column="owner_name"    />
        <result property="ownerId"    column="owner_id"    />
        <result property="ownerPhone"    column="owner_phone"    />
        <result property="garageLocation"    column="garage_location"    />
        <result property="garageId"    column="garage_id"    />
        <result property="isAvailable"    column="is_available"    />
        <result property="garageType"    column="garage_type"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
    </resultMap>

    <sql id="selectViewVehicleParkingInfoVo">
        select association_id, license_plate, vehicle_model, vehicle_id, owner_name, owner_id, owner_phone, garage_location, garage_id, is_available, garage_type, start_time, end_time from view_vehicle_parking_info
    </sql>

    <select id="selectViewVehicleParkingInfoList" parameterType="ViewVehicleParkingInfo" resultMap="ViewVehicleParkingInfoResult">
        <include refid="selectViewVehicleParkingInfoVo"/>
        <where>
            <if test="associationId != null "> and association_id = #{associationId}</if>
            <if test="licensePlate != null  and licensePlate != ''"> and license_plate = #{licensePlate}</if>
            <if test="vehicleModel != null  and vehicleModel != ''"> and vehicle_model = #{vehicleModel}</if>
            <if test="vehicleId != null "> and vehicle_id = #{vehicleId}</if>
            <if test="ownerName != null  and ownerName != ''"> and owner_name like concat('%', #{ownerName}, '%')</if>
            <if test="ownerId != null "> and owner_id = #{ownerId}</if>
            <if test="ownerPhone != null  and ownerPhone != ''"> and owner_phone = #{ownerPhone}</if>
            <if test="garageLocation != null  and garageLocation != ''"> and garage_location = #{garageLocation}</if>
            <if test="garageId != null "> and garage_id = #{garageId}</if>
            <if test="isAvailable != null "> and is_available = #{isAvailable}</if>
            <if test="garageType != null  and garageType != ''"> and garage_type = #{garageType}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
        </where>
    </select>

    <select id="selectViewVehicleParkingInfoByAssociationId" parameterType="Long" resultMap="ViewVehicleParkingInfoResult">
        <include refid="selectViewVehicleParkingInfoVo"/>
        where association_id = #{associationId}
    </select>

    <insert id="insertViewVehicleParkingInfo" parameterType="ViewVehicleParkingInfo">
        insert into view_vehicle_parking_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="associationId != null">association_id,</if>
            <if test="licensePlate != null">license_plate,</if>
            <if test="vehicleModel != null">vehicle_model,</if>
            <if test="vehicleId != null">vehicle_id,</if>
            <if test="ownerName != null">owner_name,</if>
            <if test="ownerId != null">owner_id,</if>
            <if test="ownerPhone != null">owner_phone,</if>
            <if test="garageLocation != null">garage_location,</if>
            <if test="garageId != null">garage_id,</if>
            <if test="isAvailable != null">is_available,</if>
            <if test="garageType != null and garageType != ''">garage_type,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="associationId != null">#{associationId},</if>
            <if test="licensePlate != null">#{licensePlate},</if>
            <if test="vehicleModel != null">#{vehicleModel},</if>
            <if test="vehicleId != null">#{vehicleId},</if>
            <if test="ownerName != null">#{ownerName},</if>
            <if test="ownerId != null">#{ownerId},</if>
            <if test="ownerPhone != null">#{ownerPhone},</if>
            <if test="garageLocation != null">#{garageLocation},</if>
            <if test="garageId != null">#{garageId},</if>
            <if test="isAvailable != null">#{isAvailable},</if>
            <if test="garageType != null and garageType != ''">#{garageType},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
        </trim>
    </insert>

    <update id="updateViewVehicleParkingInfo" parameterType="ViewVehicleParkingInfo">
        update view_vehicle_parking_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="licensePlate != null">license_plate = #{licensePlate},</if>
            <if test="vehicleModel != null">vehicle_model = #{vehicleModel},</if>
            <if test="vehicleId != null">vehicle_id = #{vehicleId},</if>
            <if test="ownerName != null">owner_name = #{ownerName},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
            <if test="ownerPhone != null">owner_phone = #{ownerPhone},</if>
            <if test="garageLocation != null">garage_location = #{garageLocation},</if>
            <if test="garageId != null">garage_id = #{garageId},</if>
            <if test="isAvailable != null">is_available = #{isAvailable},</if>
            <if test="garageType != null and garageType != ''">garage_type = #{garageType},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
        </trim>
        where association_id = #{associationId}
    </update>

    <delete id="deleteViewVehicleParkingInfoByAssociationId" parameterType="Long">
        delete from view_vehicle_parking_info where association_id = #{associationId}
    </delete>

    <delete id="deleteViewVehicleParkingInfoByAssociationIds" parameterType="String">
        delete from view_vehicle_parking_info where association_id in
        <foreach item="associationId" collection="array" open="(" separator="," close=")">
            #{associationId}
        </foreach>
    </delete>
</mapper>